#personas td {
    text-align: center;
}

#personas button {
    width: 7em;
}

#personas .guardar,
#personas .editar {
    margin-right: 1em;
}

#personas label.error {
    color: red;
    display: block;
    margin: auto;
}
